<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About me
                <small></small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="well">
                <p class="lead">Oh, hello there!</p>
                <p>I'm so glad you made it so far. Let me introduce myself. <br> My name is Fotis Adamakis and I have worked in more than 20 projects in the last 4 years as a Front end developer. The biggest and most chalenging of them was <a href="https://netrobe.com/" target="_blank">Netrobe</a>. A fashion social network built with backbone.js , fabric.js and Django CMS. Of course it's responsive.
                <br>Other than that I have worked with most of the popular PHP frameworks including Laravel, Zend, Symfony and Wordpress.
                I'm a big Scrum aficionado having worked with it and trying to spread the love in every opportunity.
                <br><br>
                That's me. Head to my <a target="_blank" href="https://gr.linkedin.com/in/fadamakis">Linkedin</a> for more or contact me at <a href="mailto:fadamakis@gmail.com">fadamakis@gmail.com</a>
                </p>
            </div>
        </div>

        <img src="images/TechnologyStack.jpg" alt="" class="col-lg-7 img-responsive">

       
    </div>

</div>  